
// non-white container-colors
$background-grey: #F5F5F5;    //use for: view body backgrounds, other non-white containers

// button colors
$button-orange: #F86204;
$button-orange-hover: #ea4e15;
$button-grey: #DADAD8;
$button-grey-hover: #cacaca;


// box-shadow
$shadow-grey: rgba(99, 99, 99, 0.2);

// non-black text colors
$text-light-grey: #757575;
$text-grey: #5d5d5d;

//other swatch colors 
$light-orange: #FCBC94;   //currently used for: labels, logo
$light-pink: #F7B09D;     //currently used for: labels, logo
$sunny: #FCA712;          //currently used for: star ratings




