
// non-white container-colors
$background-grey: #F5F5F5;    //use for: view body backgrounds, other non-white containers

// button colors
$button-orange: #F86204;
$button-orange-hover: #ea4e15;
$button-grey: #151b0d14;
$button-grey-hover: #151b0d29;
$button-grey-disabled: #e5e5e5;


// box-shadow
$shadow-grey: #63636333;

// non-black text colors
$text-light-grey: #757575;
$text-grey: #5d5d5d;

//other swatch colors 
$light-orange: #FCBC94;   //currently used for: labels, logo
$light-pink: #F7B09D;     //currently used for: labels, logo
$sunny: #FCA712;          //currently used for: star ratings

$transition-3: 0.3s;




