@import '_theme.scss';
@import 'index.scss';


.about-spot { 
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  padding-top: 1.5rem;
}

.about-spot__save {
  align-self: flex-end;
}

.about-spot__info {
  display: flex;
  flex-direction: column;
  gap: 5px;

  h1 {
   padding-top: 0px; 
   padding-bottom: 0px;
  }
}

.about-spot__labels {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.about-spot__label {
  font-size: 12px;
  background-color: var(--light-highlight);
  border-radius: 9999px;
  padding: 0.5rem 0.7rem;
  width: auto;
}

.about-spot__name {
  font-size: 32px;
}

.about-spot__label--pink {
  background-color: var(--light-pink);
}

.about-spot__rating {
  display: flex;
  gap: 3px;
}

.about-spot__stars {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-spot__star  {
  height: 20px;
  width: 20px;
  margin: 1px;
  align-self: center;
  color: var(--sunny);
}
