@import '_theme.scss';
@import 'index.scss';

.allSpots__container {
  display: flex;
  flex-direction: row;
}

.allSpots__map-container {
  width: 100%;
}

.allSpots__map {
  width: 100%;
  position: relative;
  height: calc(100vh - 8rem);
}

.allSpots__btn--add-spot {
  color: #fff;
  background-color: $button-orange;
  text-decoration: none;
  border-radius: 9999px;
  width: auto;
  max-width: 64px;
  height: 4rem;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  z-index: 9999;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  padding: 1rem 1.436rem;
  text-align: center;
  padding-top: 0.75rem;
  font-size: 2rem;
  font-weight: 300;
  transition: $transition-3;

  &:hover {
    cursor: pointer;
    background-color: var(--button-highlight-color);
    max-width: 200px;
    transition: $transition-3;

    .allSpots__btn--text {
      animation: 0.5s slide-right;
    }
  }
}

.allSpots__btn--text {
  white-space: nowrap;
  margin-left: 1.41rem;
  padding-right: 0.5rem;
  font-size: 1rem;
}

@keyframes slide-right {
  from {
    transform:translateX(-30%);
  }
  to {
    transform:translateX(0);
  }
}