.formDetails__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formDetails__container--input-and-labels {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.formDetails__container-rating {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.formDetails__rating--container {
  button {
    border: none;
    background-color: inherit;

  &:hover {
    cursor: pointer;
  }
  }
}

.formDetails__rating--star {
  margin: 0 0.25rem;
}

.formDetails__container--inputs {
  width: 58%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formDetails__container--input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  textarea {
    resize: none;
  }
}

.formDetails__input--text {
  border-radius: 10px;
  background-color: inherit;
  border: 1px solid #5d5d5d;
  padding: 0.8rem 1rem;
  font-size: 14px;
  width: 100%;
}

.formDetails__container--labels {
  width: 42%;
  height: auto;
}

.formDetails__labels--container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}