@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap%27');
@import '_theme.scss';

:root {
  --body-background: #f9f9f9;
  --page-background: #fff;
  --page-background-accent: #efefef;
  --weather: #F5F5F5;
  --text-color: black;
  --line-color: #dcdcdc;
  --text-light: #757575;
  --text-grey: #5d5d5d;
  --button-highlight-color: #F86204;
  --button-highlight-hover: #ea4e15;
  --button-color: #ededec;
  --button-color-hover: #dadad8;
  --button-disabled: #e5e5e5;
  --input-outline: #949494;
  --light-orange: #FCBC94;
  --light-pink: #F7B09D;
  --sunny: #FCA712;
  --shadow: #63636333;
}

[data-theme= "dark"] {
  --body-background: #252525;
  --page-background: #2b2b2b;
  --page-background-accent: #202020;
  --weather: #202020;
  --text-color: #eee9e9;
  --line-color: #c9c9c9;
  --text-light: #a5a5a5;
  --text-grey: #909090;
  --button-highlight-color: #F86204;
  --button-highlight-hover: #ea4e15;
  --button-color: #595959;
  --button-color-hover: #4a4a4a;
  --button-disabled: #474747;
  --input-outline: #252525;
  --light-orange: #ffa66f;
  --light-pink: #F7B09D;
  --sunny: #FCA712;
  --shadow: #111111;
}

body {
  background-color: var(--body-background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
