.label {
  padding: 0.5rem 0.7rem;
  border-radius: 999px;
  width: auto;
  font-size: 12px;
}

.label__inactive {
  background-color: #cecece;

  &:hover {
    cursor: pointer;
    background-color: #c3c3c3;
  }
}

.label__active {
  background-color: #e65e0986;

  &:hover {
    cursor: pointer;
    background-color: #ff6200b8;
  }
}

.label__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}