@import '_theme.scss';

.label {
  padding: 0.5rem 0.7rem;
  border-radius: 999px;
  width: auto;
  font-size: 12px;
}

.label__inactive {
  background-color: $button-grey-disabled;
}

.label__active {
  color: white;
  background-color: $button-orange;
}

.label__hover.label__inactive:hover {
  cursor: pointer;
  background-color: $button-grey-hover;
}

.label__hover.label__active:hover {
  cursor: pointer;
  background-color: $button-orange-hover;
}

.label__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}