@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import '_theme.scss';
@import 'index.scss';

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  font-family: Roboto, sans serif;
  margin-top: 100px;
  color: var(--text-color);

  span {
    font-size: 12px;
    color: var(--text-light);
  }
}

.login__welcome {
  text-align: center;
  margin-bottom: 24px;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__input {
  display: inline-flex;
  border-radius: 12px;
  border: none;
  width: 300px;
  padding: 12px;
  margin-bottom: 24px;
  box-shadow: 0 4px 8px -2px var(--shadow);
  background-color: var(--page-background);
  color: var(--text-color);
}

#password {
  -webkit-text-security: disc;
  input-security: disc;
}

.login__btn {
  border-radius: 24px;
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: 300px;
  background-color: var(--button-highlight-color);
  color: white;

}

.login__btn:hover {
  background-color: var(--button-highlight-hover);
  box-shadow: 0 4px 8px -2px var(--shadow);
  cursor: pointer;
}


