@import '_theme.scss';

.one-spot{
  width: 1020px;
  height: auto;
  margin: 2rem auto;
  background-color: var(--body_background);
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  box-shadow: var(--shadow) 0px 2px 8px 0px;
  font-size: 16px;
  position: relative;
}

.button-navigate {
  background-color: var(--body-offcolor-background);
  width: 64px;
  height: 64px;
  position: absolute;
  left: -80px;
  // top: 16px;
  border-radius: 9999px;
  border: none;
  box-shadow: var(--shadow) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $transition-3;

  &:hover {
    cursor: pointer;
    box-shadow: var(--shadow) 0px 8px 15px 2px;
    transition: $transition-3;
  }
}

.one-spot__header {
  width: 100%;
  height: 350px;
  background-image: linear-gradient(180deg, rgba(208, 79, 5, 0.542) 25%, rgba(1, 3, 54, 0.674) 78%), var(--one-spot-img);
  background-position-x: center;
  background-position-y: 55%;
  border-radius: 24px 24px 0 0;
  padding: 1.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #fff;
  position: relative;

  .one-spot__header-img {
    width: 100%;
  }
}

.one-spot__title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  .one-spot__pin {
    height: 80px;
  }
  
  h1 {
    font-size: 36px;
  }
}

.one-spot__button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.one-spot__button {
  padding: 1rem 0.6rem;
  width: 85px;
  background-color: var(--button-highlight-color);
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  border-radius: 24px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  transition: $transition-3;

  &:hover {
    cursor: pointer;
    background-color: var(--button-highlight-hover);
    transition: $transition-3;
  }
}

.one-spot__details--container {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.one-spot__details {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.one-spot__about-spot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
}

.about-spot__rating {
  display: flex;
  gap: 3px;
}

.about-spot__stars {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-spot__star  {
  height: 20px;
  width: 20px;
  margin: 1px;
  align-self: center;
  color: var(--sunny);
}

.one-spot__map {
  width: 400px;
  height: 320px;
  border-radius: 24px;
}

.one-spot__labels {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
}

.one-spot__comments--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  p {
    color: var(--text-light);
    font-style: italic;
  }
}

.one-spot__visits--container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.5rem;
}

.one-spot__visits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5em;
}