@import '_theme.scss';

.one-spot{
  max-width: 1020px;
  min-width: 1020px;
  height: max-content;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1rem;
  border-radius: 24px 24px 0 0 ;
  box-shadow: $shadow-grey 0px 2px 8px 0px;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
  position: relative;
  // make container extend below the page 
  bottom: -1rem;
  padding-bottom: 1rem; 
}

.one-spot__header {
  display: flex;
  justify-content: space-between;
  height: 340px;
  margin: 1.5em;
  margin-bottom: 0.5rem;
  gap: 1.5em;
}

.one-spot__map {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  height: 320px;
  flex: 0 0 40%;
}

.one-spot__details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one-spot__links-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

.one-spot__directions {
  text-decoration: none;
  color: #FFFFFF;
  background-color: $button-orange;
  border-radius: 9999px;
  padding: 0.5em 2.5em;
  align-self: flex-end;
  font-size: 14px;
  transition: $transition-3;

  &:hover {
    cursor: pointer;
    background-color: $button-orange-hover;
    transition: $transition-3;
  }
}

.one-spot__create-visit {
  text-decoration: none;
  color: #FFFFFF;
  background-color: $button-orange;
  border-radius: 9999px;
  padding: 0.5em 2.5em;
  align-self: flex-end;
  font-size: 14px;
  transition: $transition-3;

  &:hover {
    cursor: pointer;
    background-color: $button-orange-hover;
    transition: $transition-3;
  }
}

.one-spot__header > div {
  position: relative;
  flex: 1;
  margin-bottom: 20px;

  .one-spot__save {
    border: none;
    background-color: #FFFFFF;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.0em;

    &:hover {
      cursor: pointer;
    }
  }
}

.one-spot__visits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5em;
  margin: 1.5em;
}
.one-spot__btn--add-spot {
  color: #fff;
  background-color: $button-orange;
  text-decoration: none;
  border-radius: 9999px;
  width: auto;
  max-width: 64px;
  height: 4rem;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  align-items: center;
  overflow:hidden;
  z-index: 9999;
  position: absolute;
  left: -5rem;
  padding: 1rem 1.25rem;

  text-align: center;
  padding-top: 0.75rem;
  font-size: 2rem;
  font-weight: 300;
  -webkit-transition:  max-width 0.5s;
  transition: max-width 0.5s;
  
  
  .one-spot__btn--icons {
    padding-top: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
      
   }
}

.one-spot__btn--text {
  white-space: nowrap;
  margin-right: 1.2rem;
  margin-left: 1rem;
  padding-right: 0.5rem;
  font-size: 1rem;
}

.one-spot__btn--add-spot:hover {
  cursor: pointer;
  background-color: $button-orange-hover;
  max-width: 200px;

  .one-spot__btn--text {
    animation: 0.5s slide-right;
  }
}

@keyframes slide-right{
  from {
    transform:translateX(-40%);
  }
  to {
    transform:translateX(0%);
  }
}