@import '_theme.scss';
@import 'index.scss';

$width: 1220px;

.profile {
  max-width: $width;
  min-width: $width;
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 64px;

}

.profile > * {
  background-color: var(--body_background);
  box-shadow: $shadow-grey 0px 2px 8px 0px;
  border-radius: 24px;
}