@import '_theme.scss';


$width: 1220px;

.profile {
  max-width: $width;
  min-width: $width;
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  margin-top: 2rem;

}

.profile > * {
  background-color: #FFFFFF;
  box-shadow: $shadow-grey 0px 2px 8px 0px;
  border-radius: 24px;
}