@import '_theme.scss';
@import 'index.scss';

.sideBar__container {
  width: 500px;
  height: calc(100vh - 4rem);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.75rem;
  box-shadow: var(--shadow) 0px 8px 8px 0px;
}

.sideBar__error {
  margin: 0 auto;
  padding-top: 4rem;
  color: var(--text-light);
}