@import '_theme.scss';
@import 'index.scss';

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  box-shadow: var(--shadow) 0px 2px 8px 0px;
  background-color: var(--page-background);
}

.nav__main{
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .nav__logo {
  height: 35px;
  margin-left: 1rem;
  margin-right: 1.5rem;
  margin-top: 0.2rem;
  // transition: $transition-3;

  // &:hover {
  //   cursor: pointer;
  //   transition: $transition-3;
  //   transform: scale(1.05);
  // }
}

nav .nav__explore-link{
  text-decoration: none;
  font-size: 13px;
  color: var(--text-color);
  transition: $transition-3;

  &:hover {
    cursor: pointer;
    transition: $transition-3;
    transform: scale(1.04);
  }
}

nav button {
  border-radius: 24px;
  border: none;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

.nav__login-btn {
  border-radius: 24px;
  border: none;
  margin: 1rem;
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--button-color);
  color: var(--text-color);
  text-decoration: none;
  font-size: 13px;
  transition: $transition-3;

  &:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
    transition: $transition-3;
  }
}

.nav__register-btn {
  background-color: var(--button-highlight-color);
  color: white;
  margin-right: 1rem;
  transition: $transition-3;

  &:hover {
    cursor: pointer;
    background-color: var(--button-highlight-hover);
    transition: $transition-3;
  }
}

.nav__logged-out {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav__logged-in{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
}

.nav__logout-btn {
  border-radius: 24px;
  border: none;
  margin: 0.5rem;
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--button-color);
  color: var(--text-color);
  text-decoration: none;
  font-size: 13px;
  transition: $transition-3;

  &:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
    transition: $transition-3;
  }
}

.nav__user-profile img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 2rem 1.5rem;

  &:hover{
    cursor: pointer;
    box-shadow: var(--shadow) 0px 2px 8px 1px;
  }
}

.nav__toggle {
  height: 20px;
}