@import '_theme.scss';

.user-spots__container {
  width: 786px;
  padding: 2rem 1.5rem;
  
  height: auto;
  flex: 16 auto;
  position: relative;

  .user-spots__category h2 {
    font-size: 32px;
  }
}

.user-spots__header {
  margin-bottom: 2rem;
}

.user-spots__visits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;

}


.user-spots__saves {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
}