@import '_theme.scss';

.user-spots__container {
  width: 786px;
  padding: 2rem 1.5rem;
  
  height: auto;
  flex: 16 auto;
  position: relative;

  h2 {
    font-size: 32px;
  }
}

.user-spots__header {
  margin-bottom: 2rem;
}

.user-spots__saves {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.user-spots__visits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.user-spots__map {
  width: 100%;
  height: 650px;
  position: relative;

  .user-spots__legend {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    z-index: 9999;
    background-color: $background-grey;
    color: $text-grey;
    border-radius: 12px;

    .user-spots__legend-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }

}