@import '_theme.scss';
@import 'Profile.scss';

.user-info__containter {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.card__image {
  width: 50px;
  height: 50px;
  background-color: #e6e6e6;
  border-radius: 50%;
  margin-right: 20px;
}

.card__info {
  display: flex;
  flex-direction: column;
}

.card__info h1 {
  margin: 0;
  margin-bottom: 5px;
}

.card__info p {
  margin: 0;
  margin-bottom: 5px;
}

.profile-stats {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.profile-stats p {
  margin: 0;
  margin-right: 10px;
}
