@import '_theme.scss';
@import 'index.scss';
@import 'Profile.scss';

.user-info__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: max-content;
  padding: 2rem;
  background-color: var(--body-background);
  box-shadow: var(--shadow) 0px 2px 8px 0px;
  border-radius: 24px;
  position: relative;
  padding-top: 3rem;
}

.user-info__edit {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 36px;
  height: 36px;
  border-radius: 999px;
  padding-top: 0.6rem;
  padding-left: 0.6rem;

  &:hover {
    cursor: pointer;
    background-color: var(--button-disabled);
  }
}

.user-info__picture {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
}

.user-info__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;

  h1 {
    padding-bottom: 1rem;
  }

  .user-info__location {
    justify-content: center;
    align-items: flex-start;
    color: var(--text-light);
  }
}

.user-info__profile-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  h2{
    margin-bottom: 2rem;
  }
}

.user-info__counts{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;

  .user-info__counts-number {
    color: var(--text-color);
  }
}

.user-info__saved {
  display: flex;
  flex-direction: column;

  p {
    color: var(--text-light);
  }
}

.user-info__visits {
  flex-direction: column;
  border-left: 2px solid var(--line-color);
  

  p {
    padding-left: 3rem;
    color: var(--text-light);
  }
}

