@import '_theme.scss';

.user-spots__container {

  width: 876px;
  height: auto;
  flex: 16 auto;
  position: relative;


}

.user-spots__header {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between; 


  h1{
    font-size: 32px; 

    padding: 2rem 1.5rem; 
    text-align: center; 
  }
}

.user-spots__saves {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  margin-bottom: 2rem;

}

.user-spots__visits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  margin-bottom: 2rem;
}

.user-spots__map {
  width: auto;
  height: 650px;
  margin: 2rem 1.5rem;
}