@import '_theme.scss';

.view-toggle {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  height: 36px;
  background-color: $button-grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 24px;
  padding: 0.5rem 0;

  .view-toggle__option {
    text-align: center;
    color: $text-light-grey;
    transition: color 0.2s ease-in 0s;
    padding: 0 1rem;

    &:hover{
      color:$text-grey;
      cursor: pointer;
    }
  }

  .view-toggle__option--selected {
    background-color: $button-orange;
    color: #FFFFFF;
    border-radius: 24px;
    overflow: visible;
    height: 40px;
    box-shadow: $shadow-grey 0px 2px 8px 0px;

    //center overflow + recenter text
    margin: -10px 0;
    padding: 0.5rem 1rem;
    line-height: 22px;

    &:hover {
      cursor:default;
      color:#FFFFFF;
    }
  }
}
