@import "_theme.scss";
@import "index.scss";

.visitCard__container {
  color: var(--text-color);
  text-decoration: none;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h2, h5 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0.25rem;
  }
}

h3 {
  font-size: 13px;
  font-weight: 700;
  color: var(--text-grey);
}

.visitCard__container:hover .visitCard__image img {
  transform: scale(1.08); 
}

.visitCard__info {
  display: flex;
  gap: 0.5em;
}

.visitCard__details {
  font-size: 16px;
  font-weight: 700;
}

.visitCard__date {
  font-size: 13px;
  font-weight: 400;
  color: var(--text-light);
}

.visitCard__image {
  border-radius: 24px;
  overflow: hidden;
  img {
    transition: ease-in 0.25s;
    width: 100%;
    height: 100%;
  }
}

.bi-person-circle {
  height: 30px;
  width: 30px;
  margin: 0px 3px;
}


.visitCard__profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 0.5rem;
 }